---
layout: default
title: Meet Your Dentists
permalink: /meet-the-doctors/
redirect_from:
    - /about-us/holistic-dentist-seattle-marder
    - /about-us/natural-dentist-seattle-team
---

<div class="container about-wrapper">
    {% assign sorted_doctors = site.doctors | sort:"order" %}
    {% for doctor in sorted_doctors %}
        {% include doctor.html %}
    {% endfor %}
</div>
<div style="text-align:center;"><a class="btn btn-outline-secondary service-button" role="button" href="/request-call/">Request Phone Call</a></div>