<div class="about-wrapper">
    <div class="about container">
        <h2 class="about-title">Welcome to Integrative Dentistry</h2>
        <strong class="about-subtitle">Seattle's Best in Holistic Oral Health</strong>
        <p class="about-text text-center">
            We provide a unique perspective and philosophy toward dentistry and your overall health. Our holistic dentists practice dentistry from a naturopathic standpoint, carefully assessing your oral health as a representation of your total health and wellness. We believe in providing our patients with only metal-free, mercury-free, BPA-free, and fluoride-free alternatives to today’s more traditional dental treatments. With Integrative Dentistry, our goal is to make sure your whole family enjoys a beautiful smile backed by TRUE WELLNESS.
        </p>
    </div>
</div>