<div class="col about-wrapper">
    <div class="about">
        <h2 class="about-title">ABOUT</h2>
        <p class="about-text text-center">
            Seattle holistic dentists Dr. Bramley Birrer, Dr. Mitch Marder, Dr. Paul Rubin, Dr. Gabriel Malouf, and Dr.
            Christine Cao practice dentistry from a naturopathic standpoint, carefully assessing your oral health as a
            representation of your total health and wellness.

            We believe in providing our patients with only metal-free, mercury-free, BPA-free, and fluoride-free
            alternatives to today’s more traditional dental treatments.

            Schedule your appointment today. We look forward to improving the quality of your health!
        </p>
    </div>
</div>