<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-6">
        <h3 class="footer-menu-title">SERVICES</h3>
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Natural Dentistry</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Cosmetic Dentistry</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Invisalign</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Mercury-Free Fillings</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Safe Mercury Removal</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Children's Dentistry</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Metal-Free Dental Implants</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Myobrace</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">TMJ Treatment</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Sleep Apnea Treatment</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Orthodontics</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Periodontics</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Crowns and Onlays</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-6">
        <h3 class="footer-menu-title">OVERVIEW</h3>
        <ul class="footer-menu">
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">About Us</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Services</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Meet Your Dentists</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Our Office and Technology</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">Why We Are Different</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">ITEM</a>
          </li>
          <li class="footer-menu-item">
            <a href="#" class="footer-menu-link">ITEM</a>
          </li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-3 col-6">
        <h3 class="footer-menu-title">CONTACT US</h3>
        Call Us Now at:
        <br>
        <a href="tel:(206) 367-6453">(206) 367-6453</a>
        <br>
        to schedule your visit!
        <button class="btn footer-button">BOOK APPOINTMENT</button>
      </div>
      <div class="col-xl-3 col-lg-3 col-6">
        <div class="footer-social mb-4">
          <a href="https://www.yelp.com/biz/integrative-dentistry-seattle" target="_blank">
            <span class="fab fa-yelp footer-icon"></span>
          </a>
          <a href="https://www.facebook.com/IntegrativeDentistrySeattle/" target="_blank">
            <span class="fab fa-facebook-square footer-icon"></span>
          </a>
        </div>
        <div class="mb-4">
          <a href="https://search.google.com/local/writereview?placeid=ChIJyVm_a_8TkFQRbV0GPy5LEhI" target="_blank">
            <img class="footer-google" src="../assets/images/google-reviews.svg" alt="Google Reviews *****">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>