        <footer class="footer footer-wrapper">
          <div class="container">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-6">
                <h3 class="footer-menu-title">SERVICES</h3>
                <ul class="footer-menu">
                {% for serv in site.services %}
                    {% if serv.dropdown %}
                      <li class="footer-menu-item">
                        <a class="footer-menu-link" href={{serv.url}}>{{ serv.title }}</a>
                      </li>
                    {% endif %}
                {% endfor %}
                </ul>
              </div>
              <div class="col-xl-3 col-lg-3 col-6">
                <h3 class="footer-menu-title">OVERVIEW</h3>
                <ul class="footer-menu">
                  <li class="footer-menu-item">
                    <a href="#" class="footer-menu-link">Meet Your Dentists</a>
                  </li>
                  <li class="footer-menu-item">
                    <a href="/services/natural-dentistry" class="footer-menu-link">Natural Dentistry</a>
                  </li>
                  <li class="footer-menu-item">
                    <a href="/services/our-office-and-technology" class="footer-menu-link">Our Office and Technology</a>
                  </li>
                  <li class="footer-menu-item">
                    <a href="/services/why-we-are-different" class="footer-menu-link">Why We Are Different</a>
                  </li>
                </ul>
              </div>
              <div class="col-xl-3 col-lg-3 col-6">
                <h3 class="footer-menu-title">CONTACT US</h3>
                Call Us Now at:
                <br>
                <a href="tel:(206) 367-6453">(206) 367-6453</a>
                <br>
                to schedule your visit!
                <button class="btn footer-button book-button" data-toggle="modal" data-target="#contactModal">BOOK APPOINTMENT</button>
              </div>
              <div class="col-xl-3 col-lg-3 col-6">
                <div class="footer-social mb-4">
                  <a href="https://www.yelp.com/biz/integrative-dentistry-seattle" target="_blank">
                    <span class="fab fa-yelp footer-icon"></span>
                  </a>
                  <a href="https://www.facebook.com/IntegrativeDentistrySeattle/" target="_blank">
                    <span class="fab fa-facebook-square footer-icon"></span>
                  </a>
                </div>
                <div class="mb-4">
                  <a href="https://search.google.com/local/writereview?placeid=ChIJyVm_a_8TkFQRbV0GPy5LEhI" target="_blank">
                    <img class="footer-google" src="/assets/images/Google-Reviews.png" alt="Google Reviews *****">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- </div> -->
</body>

</html>