<!--Header-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }} | Integrative Dentistry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:100,300,400|Roboto+Condensed|Playfair+Display|Open+Sans"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="../assets/js/index.js"></script>
</head>

<body>
    <div class="row">
        <div class="col">
            <div class="float-right upper-header">
                <ul class="nav float-right">
                    <li class="nav-item">
                        <p class="nav-link">(206) 367-6453</p>
                    </li>
                    <li class="nav-item">
                        <button class="btn book-button" data-toggle="modal" data-target="#contactModal">BOOK
                            APPOINTMENT</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto logo-container">
            <img class="logo" src="../assets/images/logo.png" alt="Integrative Dentistry Logo" />
        </div>
    </div>
    <div class="row sticky-top">
        <div style="width:100%;">
            <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white;">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a href="#" class="navbar-close">x</a>
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Meet Your Dentists</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Our Services
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    {% for serv in site.services %}
                                    <a class="dropdown-item" href="#">{{ serv.title }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Natural Dentistry</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Our Office And Technology</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Why We Are Different</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>