<!--Header-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title }} | Integrative Dentistry</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:100,300,400|Roboto+Condensed|Playfair+Display|Open+Sans|Montserrat:200"
        rel="stylesheet">
    <script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/index.js"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {% seo %}
</head>

<body>
    <div id="cover"></div>
    <div id="header-contact" class="header-info-bar sticky-nav fixed-top short">
        <div class="d-flex justify-content-between" style="margin: 10px 15px;">
            <div>
                <div><a class="btn upper-header-tel" role="button" href="tel:(206) 367-6453">(206) 367-6453</a></div>
            </div>
            <div id="icon-logo" class="icon-logo-center">
                <a href="/">
                    <img id="icon-logo-img" class="skinny" src="/assets/images/IDNewLogoFINAL.png" alt="Integrative Dentistry Logo"
                    title="Integrative Dentistry Logo" style="width:200px;" />
                </a>
            </div>
            <div class="banner-wrapper">
                <a href="/"><img id="banner-logo" class="logo" src="/assets/images/LogoforWebsiteMenu.jpg" alt="Integrative Dentistry Logo"
                    title="Integrative Dentistry" /></a>
            </div>
            <div>
                <div><a class="btn book-button" role="button" href="https://www.localmed.com/widgets/16fe1c3e-fbee-428c-a05c-1a9f59cdf12a/">BOOK<br /> APPOINTMENT</a></div>
            </div>
        </div>
    </div>
    <div id="banner" class="header-logo">
        <div class="mx-auto logo-container">
            <a href="/">
                <img class="logo" src="/assets/images/logo.png" alt="Integrative Dentistry Logo" title="Integrative Dentistry">
            </a>
        </div>
    </div>
    <div id="stick" class="sticky-nav">
        <nav class="navbar navbar-expand-xl navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="icon-logo" class="icon-logo-center">
                <a href="/">
                    <img class="navbar-toggler" id="icon-logo-img" src="/assets/images/IDNewLogoFINAL.png"
                        alt="Integrative Dentistry Logo" title="Integrative Dentistry Logo" style="height:55px;" />
                </a>
            </div>
            <div><a class="btn book-button navbar-toggler" role="button"
                    href="https://www.localmed.com/widgets/16fe1c3e-fbee-428c-a05c-1a9f59cdf12a/">BOOK<br />APPOINTMENT</a></div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <a href="#" class="navbar-close">x</a>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/meet-the-doctors/">Meet Your Dentists</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Our Office
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/services/natural-dentistry-seattle">Biological Dentistry</a>
                            <a class="dropdown-item" href="/about-us/naturopathic-dentist-seattle-office">Our Office And Technology</a>
                            <a class="dropdown-item" href="/about-us/demystifying-dental-procedures">Demystifying Dental Procedures</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Our Services
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for serv in site.services %}
                            {% if serv.dropdown %}
                            <a class="dropdown-item" href={{serv.url}}>{{ serv.pagetitle }}</a>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about-us/seattle-holistic-dentist-why-different">Why We Are
                            Different</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dentists-seattle-resources/">Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navbar-close-location" href="/#location">Location/Hours</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="content">