<!--Jumbotron-->
<div style="background-image: url(assets/images/Banff1.jpg);height:800px;background-size:cover;">
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="text-center text-jumbotron" style="color:white;">
                <h1 style="font-family: 'Roboto'; font-weight: 100; font-size: 4.5rem">MODERN<br> HOLISTIC<br> CARE</h1><br>
                <h4 style="letter-spacing: 3px;">Whole-Body Wellness . Natural Alternatives . Biocompatible . Green Living</h4>
            </div>
        </div>
    </div>
</div>