<!--Jumbotron-->
<div style="background-image: url(assets/images/HomepagePicCrop.jpg);height:550px;background-size:cover;background-repeat:no-repeat;background-position: center;" id="jumbotron">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center" id="jumbotron-text-wrapper">
            <div class="text-center text-jumbotron" style="color:white;">
                <h1 style="font-family: 'Roboto'; font-weight: 300; font-size: 4rem">MODERN<br> HOLISTIC<br> CARE</h1><br>
                <h4 style="letter-spacing: 3px;font-family: 'Roboto';font-weight: 100;">Whole-Body Wellness . Natural Alternatives . <br> Biocompatible . Green Living</h4>
            </div>
        </div>
    </div>
</div>