<!--Jumbotron-->
<div style="background-image: url(assets/images/Banff1.jpg);height:800px;background-size:cover;">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="text-center" style="color:white;font-family: 'Roboto Condensed', sans-serif;">
                <h1>MODERN HOLISTIC CARE</h1>
                <h4>Whole-Body Wellness . Natural Alternatives . Chemical-Free . Green Living .</h4>
            </div>
        </div>
    </div>
</div>