<div class="map-wrapper" id="location">
  <div class="container">
    <div class="row">
      <div class="map col-sm-12 col-lg-6">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2685.193814519587!2d-122.32720368500759!3d47.70007458951033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549013ff6bbf59c9%3A0x12124b2e3f065d6d!2sIntegrative+Dentistry!5e0!3m2!1sen!2sus!4v1554012880146!5m2!1sen!2sus"
          width="523" height="408" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h2 class="map-header">
          <br>Northgate
        </h2>
        <h3 class="map-address">
          <strong>Address</strong>
          <br>
          9730 3rd Ave NE
          <br>
          Seattle, WA 98115
        </h3>
        <h3 class="map-email">
          <br>
          <strong>Email</strong>
          <br>
          <a href="mailto:info@integrativedentistry.com">info@integrativedentistry.com</a>
        </h3>
        <h3 class="map-hours">
          <br>
          <strong>Hours</strong>
          <br>
          Mon - Thu: 7am-4pm
          <br>
          Fri: 7am-2pm
          <br>
          Sat: 7am-2pm by appointment only
          <br>
          Sun: Closed
        </h3>
      </div>
    </div>
  </div>
</div>