<div class="meet-wrapper">
  <h2 class="meet-title">Your Holistic Dentists</h2>
  <div class="row container meet-container">
    {% assign sorted_doctors = site.doctors-about | sort:"order" %}
    {% for doctor in sorted_doctors %}
    <div class="col">
      <div class="meet-img">
        <center>
          <img class="meet-img--image" src="../assets/images/{{ doctor.image }}" alt="Dr. {{ doctor.name }}" />
        </center>
      </div>
      <br>
      <h3 align="center">Dr. {{ doctor.name }}</h3>
    </div>
    {% endfor %}
  </div>
</div>