<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="https://formspree.io/vkaryn@gmail.com">
      <div class="modal-body">
          <div class="form-group">
            <input type="name" class="form-control" name="fullname" placeholder="Full Name">
          </div>
          <div class="form-group">
            <input type="phone" class="form-control" name="phone" placeholder="Phone">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email (required)">
          </div>
          <div class="form-group">
            <textarea name="message" class="form-control" placeholder="Message (optional)"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>