<!--Nav/Header-->
<div class="row">
    <div class="col">
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <h5 class="text-white h4">Collapsed content</h5>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                </div>
            </div>
            <nav class="navbar navbar-dark" style="background-color:white;padding-top:30px;padding-bottom:30px;">
                <ul class="navbar-nav">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span style="color:black;font-size:28px;">
                            <i class="fas fa-bars"></i>
                        </span>
                    </button>
                </ul>
                <ul class="navbar-nav abs-center-x">
                    <h1 style="letter-spacing:3px;font-family: 'Open Sans', sans-serif;font-size:26px;">
                        INTEGRATIVE&nbsp;&nbsp;<i class="fab fa-pagelines"></i>&nbsp;&nbsp;DENTISTRY</h1>
                </ul>
            </nav>
        </div>
    </div>
</div>