<div class="who-wrapper">
  <div class="container">
    <div class="row who-header">
      <div class="col-12">
        <h2 class="who-title">Who We Are</h2>
      </div>
      <!-- <div class="col-12">
        <span class="who-subtitle">subtitle</span>
      </div> -->
    </div>
    <div class="row who-content">
      <div class="col-sm-12 col-lg-6 who-text">
        Through extensive personal research and continuing studies, our team of top doctors have created a soothing and
        effective dental environment that encompasses wellness, treats the issues relating to oral health, while
        promoting balance for your whole system. Treatments in areas such as 
        <a href="#">veneers</a>, 
        <a href="#">dental implants</a>, 
        <a href="#">pediatric dentistry</a>, 
        <a href="#">TMJ pain</a>, 
        <a href="#">sleep apnea</a>, 
        <a href="#">safe mercury removal</a>, 
        <a href="#">periodontology</a>, 
        and more; are all completed at the
        highest level with key components encompassing natural philosophies. Nutrition, herbal medicine, massage,
        acupuncture, craniosacral therapy, homeopathy all play an integral role in our treatment philosophy.
        <br><br>
        Because we care about our patient’s health and we care about our environment, all treatments are completed with
        a gentle green approach. Dr. Bramley Birrer, Dr. Mitch Marder, and Dr. Paul Rubin are three of Seattle’s leading
        holistic dentists, totaling over 60 years of experience.
        <br><br>
        Here at Integrative Dentistry, we provide a unique perspective and philosophy toward dentistry and your overall
        health. If you have been searching for a caring and experienced holistic dentist in Seattle, we invite you to
        request your personal consultation with 
        <a href="#">Dr. Bramley Birrer, Dr. Christine Cao, Dr. Gabriel Malouf, Dr. Paul
        Rubin, or Dr. Mitch Marder</a> today.
        <button type="button" class="btn btn-outline-secondary who-button" data-toggle="modal"
          data-target="#contactModal">Book Appointment</button>
      </div>
      <div class="col-sm-12 col-lg-6 who-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/078ir071X7Y" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>