/* .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
} */

@media (max-width: 991.98px){
    .doctor-image {
        width: 50% !important;
    }

    .doctor-image-wrapper {
        text-align: center;
    }
}
@media (max-width: 1199.98px){

    .navbar-close {
        display: block !important;
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 30px;
        line-height: 30px;
        font-weight: bold;
    }

    #navbarSupportedContent {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100vh;
        background: white;
        padding: 20px 20px 0;
        overflow: hidden;
        overflow-y: scroll!important;
    }

    .header-info-bar {
        display: none;
    }

    .header-logo {
        margin-top: 30px;
    }

    .book-button {
        padding: 4px 12px!important;
    }

    .contact-footer {
        display: flex;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f8f8f8;
        width: 100%;
        padding: 20px;
        justify-content: space-between;
    }
    
    .contact-footer-number {
        color: white;
        width: 158px;
        height: 36px;
        position: relative;
        background-color: teal;
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 12px;
        line-height: 38px;
        border: 1px solid white;
        -webkit-box-align: center;
        -webkit-box-pack: center;
    }
    
    .contact-footer-info {
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        border-radius: 50%;
        position: absolute;
        right: 30px;
        bottom: 18px;
        background-color: white;
    }
    
    .contact-footer-menu {
        display: none;
        position: absolute;
        padding: 0;
        list-style: none;
        width: 82px;
        right: 10px;
        bottom: 50px;
        border-radius: 15px;
        line-height: 11px;
        background-color: teal;
    }
    
    .contact-footer-item {
        padding: 12px;
    }
    
    .contact-footer-item a {
        color: white;
    }
    
    .bar-active .contact-footer-menu {
        display: block;
    }
    
    .bar-active .contact-footer-info {
        background: #3b3b3b;
        color: #FFFFFF;
    }
    
    .bar-active .contact-footer-info span {
        display: none;
    }
    
    .bar-active .contact-footer-info:after {
        content: "x";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        font-size: 22px;
        line-break: 38px;
    }

    .footer-wrapper {
        margin-bottom: 76px;
    }
}

@media (min-width: 1199.98px){
    .contact-footer {
        display: none;
    }
}

.navbar-close {
    display: none;
}

/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

.footer-social a,
.footer-menu a {
    color: black!important;
}

body a {
    color: turquoise;
}

a:hover {
    color: gray;
}

.logo {
    width: 80%;
}

.logo-container {
    text-align: center;
}

.header-info-bar {
    height: 100px;
    background-color: white;
}

.icon-logo {
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
}

@media (min-width: 700px){
    .logo {
        width: 600px;
    }

    .book-wrapper {
        width: 60%;
    }
}

.upper-header {
    margin: 10px;
}

.nav-link,
.dropdown-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: .8rem;
}

.header-phone {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.footer-wrapper {
    background-color: #f8f8f8;
    padding-top: 45px;
}

.footer-menu-title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.footer-menu {
    list-style: none;
    padding: 0px;
}

.footer-menu-link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
}

.footer-button {
    margin-top: 18px;
}

.footer-social a{
    margin-right: 15px;
}

.footer-icon {
    font-size: 1.5rem;
}

.footer-google {
    width: 120px;
}

.welcome-wrapper {
    margin-bottom: 40px;
    background-color: #f4f4f4;
}

.welcome {
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.welcome-title {
    margin: 0 0 6px;
    text-align: center;
    font: 42px "Playfair Display", serif;
    font-weight: 1000;
}

.welcome-subtitle {
    display: block;
    text-align: center;
    margin: 0 auto;
    font: 14px 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0 0 20px;
}

.welcome-text {
    font: 16px 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0 0 1em;
    letter-spacing: 0.2px;
    font-weight: 300;
}

.meet-title {
    text-align: center;
    margin: 0 0 50px;
}

.meet-img--image {
    border-radius: 50%;
    height:130px;
}

.meet-container {
    margin: auto;
    max-width: 1200px;
}

.meet-doctorname {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font: 13px 'Open-Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 3.5px;
}

.meet-button-container {
    text-align: center;
}

.review-inner {
    background-color: black;
    height: 560px;
}

@media (max-width:560px) {
    .review-inner {
        height: 700px;
    }
}

.review {
    width: 650px;
}

.review-title {
    font: 18px 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #9b9b9b;
    margin-bottom: 50px;
    letter-spacing: 3px;
}

.review-more {
    font: 16px 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #9b9b9b;
    letter-spacing: 3px;
}

.review-quote {
    font-size: 26px;
    line-height: 34px;
    font: 20px 'Playfair Display', serif;
    color: rgba(220, 220, 220, 0.9);
}

.review-footer {
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 18px;
    font: 12px/20px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #9b9b9b;
    margin-top: 20px;
}

.who-wrapper,
.meet-wrapper,
.map-wrapper,
.review-wrapper {
    margin-bottom: 40px;
}

.post-list-title,
.post-title,
.doctor-title,
.service-title,
.meet-title,
.who-title {
    font-size: 54px;
    line-height: 62px;
    font: 46px 'Playfair Display', serif;
    letter-spacing: -1px;
    display: block;
}

.who-title {
    margin: 0 0 5px;
}

.who-subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #9b9b9b;
    text-transform: uppercase;
    padding: 0 0 20px;
    display: block;
    margin: 0 0 30px;
}

.post-body,
.service-body,
.who-text {
    width: 100%;
    overflow: visible;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    display: inline-block;
    letter-spacing: .2px;
    font-family: 'Roboto', sans-serif;
}

.service-video,
.map,
.who-video {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.service-video iframe {
    left:0;
    top:0;
    width:100%;
    height: 100%;
    position:absolute;
    padding-top: 30px;
}

.map iframe,
.who-video iframe{
    left:0;
    top:0;
    width:100%;
    position:absolute;
}

.map iframe {
    height:100%;
}

@media (max-width: 560px){
    .who-video iframe {
        height:100%;
    }
}

.service-button,
.book-button,
.meet-button,
.who-button {
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-size: .8rem;
    line-height: 1.5;
    border-radius: .2rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
}

.meet-button,
.who-button {
    margin-top: 30px;
    margin-bottom: 30px;
}

.book-button {
    color: white!important;
    background-color: black;
}

.service-button {
    margin-top: 30px;
    margin-bottom: 50px;
}

.map-header {
    font-family: 'Playfair Display', serif;
    font-size: 2.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.map-address,
.map-email,
.map-hours {
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .22em;
    line-height: 1.5em;
    text-transform: uppercase;
}

.service-wrapper,
.post-list-title,
.post-title,
.service-title {
    margin-top: 40px;
}

.service-wrapper {
    text-align: center;
}

.post-list-wrapper hr, 
.service-title-wrapper hr {
    width: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.post-list-wrapper hr {
    border-color: black;
}

.service-title-wrapper hr {
    border-color: white;
}

.service-title-wrapper {
    color: white;
}

.service-body ul {
    list-style: none;
}

.book-header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
}

.book-wrapper {
    margin-bottom: 70px;
    font-family: 'Open Sans', sans-serif;
}

.book-submit {
    border-radius: 30px;
    text-transform: uppercase;
    width: 100%;
    color: #FFFFFF;
    background-color: #9b9b9b;
}

.book-small-text {
    font-size: 12px;
}

.book-label {
    font-weight: 600;
}

.book-radio {
    font-size: 15px;
}

.doctor-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.doctor-body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.9;
    margin-left: 30px;
}

.doctor-image {
    width: 100%;
}

label.error {
    display: none;
}

.error {
    color: red;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 15px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-body img {
    max-width: 400px;
    height: auto;
}

.post-list {
    list-style: none;
}

.post-container {
    margin-bottom: 40px;
}

.post-list-post-title {
    font-family: 'Open-Sans', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.upper-header-tel {
    background-color: #34b2b6;
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
}

/* #stick {
    overflow: hidden;
} */

.sticky {
    position: fixed;
    /* top: 100px; */
    width: 100%;
}

.sticky + .content {
    padding-top: 51px;
}

.skinny {
    height: 55px;
    width: auto!important;
}

.short {
    height: 55px;
}

.sticky-nav {
    z-index: 1000;
    background-color:white;
}

.sticky-header-info-bar {
    position: fixed;
    top: 0;
}