a {
    color: black;
}

a:hover {
    color: gray;
}

.logo {
    width: 600px;
}

.btn {
    color: white;
    background-color: black;
}

.upper-header {
    margin: 10px;
}

.footer-wrapper {
    background-color: #f8f8f8;
    padding-top: 45px;
}

.footer-menu-title {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.footer-menu {
    list-style: none;
    padding: 0px;
}

.footer-menu-link {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
}

.footer-button {
    margin-top: 18px;
}

.footer-social a{
    margin-right: 15px;
}

.footer-icon {
    font-size: 1.5rem;
}

.footer-google {
    width: 120px;
}

.about-wrapper {
    margin-bottom: 40px;
}

.about-title {
    margin: 0px;
    text-align: center;
    font-weight: 300;
    font-size: 38px;
    line-height: 47px;
}

.about-text {
    margin-left: 10%;
    margin-right: 10%;
}

.meet-title {
    margin: 0px;
    text-align: center;
    font-weight: 400;
    font-size: 49px;
    line-height: 47px;
}

.meet-img--image {
    border-radius: 50%;
    width:160px;
}

.meet-container {
    margin: auto;
    max-width: 1000px;
}

.review-jumbotron {
    background-color: black;
}

.review-title {
    font: 14px 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #9b9b9b;
    margin-bottom: 50px;
}

.review-quote {
    font-size: 26px;
    line-height: 34px;
    font: 24px 'Nanum Myeongjo', serif;
    color: rgba(255, 255, 255, .9);
}

.review-footer {
    letter-spacing: 4px;
    font-size: 14px;
    line-height: 18px;
    font: 12px/20px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #9b9b9b;
    margin-top: 20px;
}