{% include header.html %}
<div style="background-image: url(/assets/images/Banff2.jpg);height:400px;background-size:cover;">
<div class="container service-title-wrapper h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="text-center">
            <h2 class="service-title">{{ page.pagetitle }}</h2>
            {% if page.inSeattle %}
            <h3 style="font-family:'Playfair Display', serif;">in Seattle</h3>
            {% endif %}
            <hr>
        </div>
    </div>
</div>
</div>
<div class="container service-wrapper">
    <div class="service-body">
        {{ content }}
    </div>
    <div><a class="btn btn-outline-secondary service-button" role="button" href="/request-an-appointment/">Request Phone Call</a></div>
</div>
{% include reviews.html %}
{% include footer.html %}