{% include header.html %}
<div style="background-image: url(../../assets/images/Banff1.jpg);height:800px;background-size:cover"></div>
<div class="container service-wrapper">
    <h2 class="service-title">{{ page.title }}</h2>
    <hr>
    <div class="service-body">
        {{ content }}
    </div>
    <button type="button" class="btn btn-outline-secondary service-button" data-toggle="modal"
          data-target="#contactModal">Book Appointment</button>
</div>
{% include reviews.html %}
{% include modal.html %}
{% include footer.html %}